.info_commande {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-weight: 600;
  background: linear-gradient(
    to bottom,
    var(--background-bubble-start),
    var(--background-bubble-end)
  );
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px #00000026;
}

.price_prefixe {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.price_prefixe p {
  margin: 0;
}

.detail_commande {
  /* background-color: var(--background-bubble-start); */
  padding: 10px;
  text-align: center;
  margin: 20px 0;
  font-weight: normal;
}

.detail_commande p:nth-of-type(2) {
  margin: 30px 0;
}

.detail_commande p {
  font-size: medium;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contact div {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.contact div label {
  margin: 0 10px;
}

.contact div input {
  margin: 0 5px;
}

.other_command {
  display: flex;
  align-items: center;
}

.form input {
  color: black;
  font-size: 1em;
  font-weight: normal;
  padding: 0 10px;
}

.form button {
  background-color: var(--background-bubble-start);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.5em;
  cursor: pointer;
  margin: 20px 0;
  color: var(--color-text);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.form button:hover {
  background-color: var(--background);
  transform: scale(1.05);
}

.form button:active {
  background-color: var(--background);
}

@media screen and (max-width: 768px) {
  .info_commande {
    width: 90%;
  }

  .contact {
    flex-direction: column;
  }
}
