.view {
  position: sticky;
  color: var(--color-text);
  margin: 0;
  top: 50px;
  height: fit-content;
}

.bot_background {
  border-radius: 10px;
  width: 350px;
}

.profile {
  position: absolute;
  border-radius: 50%;
  width: 95px;
  height: 95px;
  top: 70px;
  left: 19px;
}

.title_bot {
  position: absolute;
  top: 175px;
  left: 20px;
  font-size: larger;
  font-weight: bold;
  width: 275px;
  overflow: hidden;
}

.title_bot_id {
  position: absolute;
  left: 20px;
  top: 215px;
  font-weight: normal;
  font-size: medium;
  width: 275px;
  overflow: hidden;
}

.title_bot_role {
  position: absolute;
  left: 50px;
  top: 377px;
  font-weight: normal;
  font-size: small;
  width: 275px;
  overflow: hidden;
}

.description_bot {
  position: absolute;
  top: 251px;
  left: 20px;
  width: 275px;
  height: 90px;
  overflow-wrap: break-word;
  overflow-x: hidden;
  font-size: small;
}

@media screen and (max-width: 768px) {
  .view {
    position: relative;
    margin-bottom: 100px;
    top: 0px;
  }
}

@media screen and (max-width: 425px) {
  .view {
    margin: auto;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 375px) {
  .view {
    margin: auto;
    margin-bottom: 100px;
  }

  /* .profile {
    width: 50px;
    height: 50px;
    top: 8px;
    left: 12px;
  } */

  .title_bot {
    /* top: 65px; */
    left: 20px;
    /* width: 165px; */
    font-size: small;
  }

  .title_bot_id {
    /* top: 115px; */
    left: 20px;
    /* width: 165px; */
    font-size: small;
  }

  .description_bot {
    /* top: 115px; */
    left: 20px; 
    /* width: 165px; */
    font-size: small;
    /* height: 120px; */
  }

  .bot_background {
    border-radius: 5px;
    /* width: 200px; */
  }
}


@media screen and (max-width: 350px) {
  .view {
    width: 350px;
  }
}
